.foto {
  display: block;
  width: 60px;
  height: 60px;
  background-color: turquoise;
  border: 50%;
}

.fullname {
  color: goldenrod;
}
.publishDate {
  color: grey;
}

.publisherBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuBlock {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: auto;
}

.menuBtn {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
}

