.headerIndicators {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.hIndIcon2 {
  width: 20px;
  height: 16px;
  margin-left: 7px;
  cursor: pointer;
}

.hIndIcon1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
  background-color: #CC6633;
  color: #ffffff;
  cursor: pointer;
}
